{
  "swagger": "2.0",
  "info": {
    "title": "Apify",
    "description": "Use Apify in Power Automate to run web scrapers and AI agents, manage Actors and tasks, schedule and monitor runs, retrieve datasets and results, and trigger flows from webhooks. Enable end-to-end data collection, enrichment, and automation in your flows.",
    "version": "1.0.0",
    "contact": {
      "name": "Apify Support",
      "url": "https://apify.com/contact",
      "email": "support@apify.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.apify.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "apify_oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://console.apify.com/authorize/oauth",
      "tokenUrl": "https://console-backend.apify.com/oauth/apps/token",
      "scopes": {
        "profile": "Access to user profile",
        "full_api_access": "Full access to Apify API"
      }
    }
  },
  "security": [
    { "apify_oauth2_auth": [ "profile", "full_api_access" ] }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;AI"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetUserInfo"
    }
  },
  "paths": {
    "/users/me": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        },
        "summary": "Get User Information",
        "x-ms-summary": "Get User Information",
        "description": "Returns information about the current user account, including both public and private information.",
        "operationId": "GetUserInfo",
        "x-ms-visibility": "internal",
        "tags": [
          "Users"
        ]
      }
    },
    "/acts": {
      "get": {
        "summary": "List recently used Actors (for dropdown)",
        "description": "Fetches a list of recently used Actors.",
        "operationId": "ListRecentActors",
        "x-ms-visibility": "internal",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actorScope",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "RecentActors",
              "StoreActors"
            ],
            "description": "Only used by the connector UI to trigger list refresh when scope changes.",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "total": { "type": "integer", "format": "int32" },
                    "count": { "type": "integer", "format": "int32" },
                    "offset": { "type": "integer", "format": "int32" },
                    "limit": { "type": "integer", "format": "int32" },
                    "desc": { "type": "boolean" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "modifiedAt": { "type": "string" },
                          "name": { "type": "string" },
                          "username": { "type": "string" },
                          "title": { "type": "string" },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "totalRuns": { "type": "integer", "format": "int32" },
                              "lastRunStartedAt": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/store": {
      "get": {
        "summary": "List Store Actors (for dropdown)",
        "description": "Fetches a list of Actors from the Apify Store.",
        "operationId": "ListStoreActors",
        "x-ms-visibility": "internal",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actorScope",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "RecentActors",
              "StoreActors"
            ],
            "description": "Only used by the connector UI to trigger list refresh when scope changes.",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "default": 1000,
            "x-ms-summary": "Limit",
            "description": "Maximum number of Actors to return"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "title": { "type": "string" },
                          "username": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/actors/dropdown": {
      "get": {
        "summary": "List Actors (dropdown)",
        "description": "Fetches a list of Actors from recently used Actors or from Apify Store based on scope for dropdown selection.",
        "operationId": "ListActorsDropdown",
        "x-ms-visibility": "internal",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actorScope",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "RecentActors",
              "StoreActors"
            ],
            "x-ms-enum-values": [
              {
                "value": "RecentActors",
                "displayName": "Recently used Actors"
              },
              {
                "value": "StoreActors",
                "displayName": "From Store"
              }
            ],
            "description": "Select scope of Actors: recently used or from the Apify Store.",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "default": 1000,
            "x-ms-summary": "Limit",
            "description": "Maximum number of Actors to return"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "title": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/acts/{actorId}/runs": {
      "post": {
        "summary": "Run Actor",
        "x-ms-summary": "Run Actor",
        "description": "Runs an Actor and immediately returns without waiting for the run to finish. To wait for the run to finish, use the waitForFinish query parameter. See docs: https://docs.apify.com/api/v2/act-runs-post",
        "operationId": "RunActor",
        "x-ms-visibility": "important",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "actorScope",
            "x-ms-summary": "Select Actor from",
            "description": "Actor can be either yours or from the Apify Store.",
            "default": "RecentActors",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "RecentActors",
              "StoreActors"
            ],
            "x-ms-enum-values": [
              {
                "value": "RecentActors",
                "displayName": "Recently used Actors"
              },
              {
                "value": "StoreActors",
                "displayName": "From Store"
              }
            ]
          },
          {
            "name": "actorId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor",
            "description": "Actor identifier to run. Supply Actor ID or Actor name.",
            "x-ms-dynamic-values": {
              "operationId": "ListActorsDropdown",
              "value-collection": "data/items",
              "value-path": "id",
              "value-title": "title",
              "parameters": {
                "actorScope": { "parameter": "actorScope" },
                "limit": 1000
              }
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "build",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Build",
            "description": "Actor build to run (tag or build number). Default is latest."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Timeout",
            "description": "Timeout for the run in seconds."
          },
          {
            "name": "memory",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Memory",
            "description": "Memory limit in MB (power of 2, min 128).",
            "enum": [
              128,
              256,
              512,
              1024,
              2048,
              4096,
              8192,
              16384
            ]
          },
          {
            "name": "waitForFinish",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Wait for finish",
            "description": "Wait for the run to finish in seconds (0–60).",
            "maximum": 60,
            "default": 0
          },
          {
            "name": "inputBody",
            "in": "body",
            "required": true,
            "x-ms-summary": "Input body",
            "description": "Raw JSON object passed as INPUT to the Actor.",
            "x-ms-textarea": true,
            "schema": {
              "type": "object",
              "description": "Raw JSON object passed as INPUT to the Actor"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Actor run created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ActorRunResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/actor-tasks": {
      "get": {
        "summary": "List Tasks (for dropdown)",
        "description": "Fetches a list of the user's actor tasks.",
        "operationId": "ListTasks",
        "x-ms-visibility": "internal",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "actName": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/actor-tasks/{taskId}/runs": {
      "post": {
        "summary": "Run Task",
        "x-ms-summary": "Run Task",
        "description": "Runs an Actor task and immediately returns without waiting for the run to finish. To wait for the run to finish, use the waitForFinish query parameter. See docs: https://docs.apify.com/api/v2/actor-task-runs-post",
        "operationId": "RunTask",
        "x-ms-visibility": "important",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Task",
            "description": "Task identifier to run.",
            "x-ms-dynamic-values": {
              "operationId": "ListTasks",
              "value-collection": "data/items",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "waitForFinish",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Wait for finish",
            "description": "Wait for the run to finish in seconds (0–60).",
            "maximum": 60,
            "default": 0
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Timeout",
            "description": "Timeout for the run in seconds."
          },
          {
            "name": "memory",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Memory",
            "description": "Memory limit in MB (power of 2, min 128).",
            "enum": [
              128,
              256,
              512,
              1024,
              2048,
              4096,
              8192,
              16384
            ]
          },
          {
            "name": "inputOverride",
            "in": "body",
            "required": false,
            "x-ms-summary": "Input override",
            "description": "A raw JSON object to override the task's default input.",
            "x-ms-textarea": true,
            "schema": {
              "type": "object",
              "description": "A raw JSON object to override the task's default input."
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Actor run created",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ActorRunResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/datasets": {
      "get": {
        "summary": "List Datasets (for dropdown)",
        "description": "Fetches a list of the user's datasets.",
        "operationId": "ListDatasets",
        "x-ms-visibility": "internal",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "total": { "type": "integer", "format": "int32" },
                    "count": { "type": "integer", "format": "int32" },
                    "offset": { "type": "integer", "format": "int32" },
                    "limit": { "type": "integer", "format": "int32" },
                    "desc": { "type": "boolean" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "modifiedAt": { "type": "string" },
                          "name": { "type": "string" },
                          "itemCount": { "type": "integer", "format": "int32" },
                          "cleanItemCount": { "type": "integer", "format": "int32" }
                        }
                      }
                    }
                  }
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/datasets/{datasetId}/itemsSchemaHelper": {
      "get": {
        "summary": "Get Dataset Schema (for dynamic schema)",
        "description": "Fetches one item from a dataset to infer the schema.",
        "operationId": "GetDatasetSchema",
        "x-ms-visibility": "internal",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Dataset ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "default": 1,
            "type": "integer",
            "description": "Set limit to 1 for schema inference."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "description": "An OpenAPI schema object representing a single dataset item. The schema may include a wrapper if the sample isn't an object.",
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/datasets/{datasetId}/items": {
      "get": {
        "summary": "Get Dataset Items",
        "x-ms-summary": "Get Dataset Items",
        "description": "Retrieves items from one of your Apify datasets with optional pagination parameters.",
        "operationId": "GetDatasetItems",
        "x-ms-visibility": "important",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Dataset",
            "description": "Select the dataset from which to retrieve items",
            "x-ms-dynamic-values": {
              "operationId": "ListDatasets",
              "value-collection": "data/items",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Maximum number of items to be returned."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset",
            "description": "Number of items to skip from the beginning of the list."
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset items retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "title": "Dataset Item",
                "x-ms-dynamic-schema": {
                  "operationId": "GetDatasetSchema",
                  "parameters": {
                    "datasetId": {
                      "parameter": "datasetId"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/acts/aYG0l9s7dbB7j3gbS/runs": {
      "post": {
        "summary": "Scrape Single URL",
        "x-ms-summary": "Scrape Single URL",
        "description": "Scrapes a single URL using the Web Scraper actor. This action starts an asynchronous scrape and returns the run details immediately. Use the Actor Run Finished trigger to process results once the scrape is complete.",
        "operationId": "ScrapeSingleUrl",
        "x-ms-visibility": "important",
        "tags": [
          "Scraping"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "type": "string",
            "pattern": "^https?://[^\\s]+$",
            "x-ms-summary": "URL to scrape",
            "description": "The full URL of the single page to be scraped. Must be a valid URL format."
          },
          {
            "name": "crawler_type",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Crawler type",
            "description": "Select the crawling engine to use for scraping the page.",
            "default": "playwright:adaptive",
            "enum": [
              "playwright:adaptive",
              "playwright:firefox",
              "cheerio",
              "jsdom",
              "playwright:chrome"
            ],
            "x-ms-enum-values": [
              {
                "value": "playwright:adaptive",
                "displayName": "Adaptive"
              },
              {
                "value": "playwright:firefox",
                "displayName": "Firefox (Headless Browser)"
              },
              {
                "value": "cheerio",
                "displayName": "Cheerio (Raw HTTP)"
              },
              {
                "value": "jsdom",
                "displayName": "JSDOM (Raw HTTP with JS)"
              },
              {
                "value": "playwright:chrome",
                "displayName": "Chrome (Headless Browser) [DEPRECATED]"
              }
            ]
          },
          {
            "name": "timeout",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "default": 0,
            "type": "integer",
            "x-ms-summary": "Timeout",
            "description": "Timeout for the run in seconds."
          }
        ],
        "responses": {
          "201": {
            "description": "Scrape started successfully",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ActorRunResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/key-value-stores": {
      "get": {
        "summary": "List Key-Value Stores (for dropdown)",
        "description": "Fetches a list of the user's key-value stores.",
        "operationId": "ListKeyValueStores",
        "x-ms-visibility": "internal",
        "tags": [
          "KeyValueStores"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["items"]
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/key-value-stores/{storeId}/keys": {
      "get": {
        "summary": "List Record Keys (for dropdown)",
        "description": "Fetches a list of keys for a specific key-value store.",
        "operationId": "ListRecordKeys",
        "x-ms-visibility": "internal",
        "tags": [
          "KeyValueStores"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the key-value store."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["items"]
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/key-value-stores/{storeId}/records/{recordKey}/schemaHelper": {
      "get": {
        "summary": "Get Key-Value Store Record Schema (for dynamic schema)",
        "description": "Fetches a record from a key-value store to infer the schema.",
        "operationId": "GetKeyValueStoreRecordSchema",
        "x-ms-visibility": "internal",
        "tags": [
          "KeyValueStores"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Store",
            "description": "Select a value"
          },
          {
            "name": "recordKey",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Key",
            "description": "Select a value"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "An OpenAPI schema object representing a key-value store record. The schema may include a wrapper if the sample isn't an object.",
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/key-value-stores/{storeId}/records/{recordKey}": {
      "get": {
        "summary": "Get Key-Value Store Record",
        "x-ms-summary": "Get Key-Value Store Record",
        "description": "Gets a value stored in the key-value store under a specific key.",
        "operationId": "GetKeyValueStoreRecord",
        "x-ms-visibility": "important",
        "tags": [
          "KeyValueStores"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Store",
            "description": "Select the key-value store from which to retrieve the record.",
            "x-ms-dynamic-values": {
              "operationId": "ListKeyValueStores",
              "value-collection": "data/items",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "recordKey",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Key",
            "description": "Select the key from which to retrieve the record.",
            "x-ms-dynamic-values": {
              "operationId": "ListRecordKeys",
              "value-collection": "data/items",
              "value-path": "key",
              "value-title": "key",
              "parameters": {
                "storeId": { "parameter": "storeId" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The record content.",
            "schema": {
              "title": "Key-Value Store Record",
              "x-ms-dynamic-schema": {
                "operationId": "GetKeyValueStoreRecordSchema",
                "parameters": {
                  "storeId": {
                    "parameter": "storeId"
                  },
                  "recordKey": {
                    "parameter": "recordKey"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "type": "string",
                "description": "The MIME type of the record's content."
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/webhooks": {
      "x-ms-notification-content": {
        "description": "Payload received from Apify when the webhook fires",
        "schema": { "$ref": "#/definitions/WebhookPayload" }
      },
      "post": {
        "summary": "Actor Run Finished",
        "description": "Creates a webhook to subscribe to Actor run events. Triggers when the selected Actor run finishes with a specific status. See docs: https://docs.apify.com/api/v2/webhooks-post",
        "operationId": "ActorRunFinishedTrigger",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "actorScope",
            "x-ms-summary": "Select Actor from",
            "description": "Actor can be either yours or from the Apify Store.",
            "default": "RecentActors",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "RecentActors",
              "StoreActors"
            ],
            "x-ms-enum-values": [
              { 
                "value": "RecentActors", 
                "displayName": "Recently used Actors"
              },
              { 
                "value": "StoreActors", 
                "displayName": "From Store"
              }
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "properties": {
                "requestUrl": { 
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "eventTypes": {
                  "type": "array",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Statuses",
                  "description": "Actor run statuses to trigger on",
                  "items": {
                    "type": "string",
                    "enum": [
                      "ACTOR.RUN.SUCCEEDED",
                      "ACTOR.RUN.FAILED",
                      "ACTOR.RUN.TIMED_OUT",
                      "ACTOR.RUN.ABORTED"
                    ]
                  }
                },
                "condition": {
                  "type": "object",
                  "properties": {
                    "actorId": { 
                      "type": "string",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Actor",
                      "description": "Actor identifier to run. Supply Actor ID or Actor name.",
                      "x-ms-dynamic-values": {
                        "operationId": "ListActorsDropdown",
                        "value-collection": "data/items",
                        "value-path": "id",
                        "value-title": "title",
                        "parameters": {
                          "actorScope": { "parameter": "actorScope" },
                          "limit": 1000
                        }
                      }
                    }
                  }
                },
                "idempotencyKey": { 
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "payloadTemplate": { 
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "shouldInterpolateStrings": { 
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                }
              },
              "required": ["requestUrl", "eventTypes", "condition"]
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreated"
          },
          "default": { "$ref": "#/responses/ErrorResponse" }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "summary": "Delete Actor Webhook (for trigger)",
        "description": "Deletes an existing webhook subscription.",
        "operationId": "DeleteActorWebhook",
        "x-ms-visibility": "internal",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": { "$ref": "#/responses/ErrorResponse" }
        }
      }
    },
    "/webhooks/task": {
      "x-ms-notification-content": {
        "description": "Payload received from Apify when the task webhook fires",
        "schema": { "$ref": "#/definitions/WebhookPayload" }
      },
      "post": {
        "summary": "Actor Task Finished",
        "description": "Creates a webhook to subscribe to Actor task run events. Triggers when the selected Actor task run finishes with a specific status. See docs: https://docs.apify.com/api/v2/webhooks-post",
        "operationId": "ActorTaskFinishedTrigger",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "properties": {
                "requestUrl": { 
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "eventTypes": {
                  "type": "array",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Statuses",
                  "description": "Actor run statuses to trigger on",
                  "items": {
                    "type": "string",
                    "enum": [
                      "ACTOR.RUN.SUCCEEDED",
                      "ACTOR.RUN.FAILED",
                      "ACTOR.RUN.TIMED_OUT",
                      "ACTOR.RUN.ABORTED"
                    ]
                  }
                },
                "condition": {
                  "type": "object",
                  "properties": {
                    "actorTaskId": { 
                      "type": "string",
                      "x-ms-summary": "Task",
                      "description": "Actor task identifier to monitor for run events.",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "ListTasks",
                        "value-collection": "data/items",
                        "value-path": "id",
                        "value-title": "name"
                      }
                    }
                  }
                },
                "idempotencyKey": { 
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "payloadTemplate": { 
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "shouldInterpolateStrings": { 
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                }
              },
              "required": ["requestUrl", "eventTypes", "condition"]
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreated"
          },
          "default": { "$ref": "#/responses/ErrorResponse" }
        }
      }
    },
    "/webhooks/task/{webhookId}": {
      "delete": {
        "summary": "Delete Task Webhook (for trigger)",
        "description": "Deletes an existing task webhook subscription.",
        "operationId": "DeleteTaskWebhook",
        "x-ms-visibility": "internal",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": { "$ref": "#/responses/ErrorResponse" }
        }
      }
    }
  },
  "definitions": {
    "UserResponse": {
      "type": "object",
      "x-ms-summary": "Represents information about the authenticated Apify user.",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "User ID"
        },
        "username": {
          "type": "string",
          "x-ms-summary": "Username"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Created At"
        },
        "subscription": {
          "type": "object",
          "x-ms-summary": "Subscription",
          "properties": {
            "plan": {
              "type": "string",
              "x-ms-summary": "Plan"
            },
            "planId": {
              "type": "string",
              "x-ms-summary": "Plan ID"
            },
            "isActive": {
              "type": "boolean",
              "x-ms-summary": "Is Active"
            }
          }
        },
        "profile": {
          "type": "object",
          "properties": {
            "pictureUrl": {
              "type": "string",
              "x-ms-summary": "Profile Picture URL"
            },
            "githubUsername": {
              "type": "string",
              "x-ms-summary": "GitHub Username"
            },
            "websiteUrl": {
              "type": "string",
              "x-ms-summary": "Website URL"
            },
            "bio": {
              "type": "string",
              "x-ms-summary": "User's bio"
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "x-ms-summary": "Represents an error response from the Apify API",
      "properties": {
        "error": {
          "type": "object",
          "x-ms-summary": "Error Details",
          "properties": {
            "type": {
              "type": "string",
              "description": "Error Type",
              "x-ms-summary": "Error Type"
            },
            "message": {
              "type": "string",
              "description": "Error message",
              "x-ms-summary": "Error Message"
            }
          }
        }
      }
    },
    "ActorRunResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Actor Run ID",
          "description": "Unique identifier of the Actor run."
        },
        "actId": {
          "type": "string",
          "x-ms-summary": "Actor ID",
          "description": "Unique identifier of the Actor that was executed."
        },
        "userId": {
          "type": "string",
          "x-ms-summary": "User ID",
          "description": "Unique identifier of the user who owns the Actor run."
        },
        "actorTaskId": {
          "type": "string",
          "x-ms-summary": "Actor Task ID",
          "description": "Unique identifier of the Actor task (if the run was started from a task)."
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Started At",
          "description": "Timestamp when the Actor run started."
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Finished At",
          "description": "Timestamp when the Actor run finished."
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Status of the Actor run (e.g., SUCCEEDED, FAILED, RUNNING, ABORTED)."
        },
        "statusMessage": {
          "type": "string",
          "x-ms-summary": "Status Message",
          "description": "Detailed status message from the Actor run, including processing summary and results."
        },
        "isStatusMessageTerminal": {
          "type": "boolean",
          "x-ms-summary": "Is Status Message Terminal",
          "description": "Whether the status message is terminal (final) or may change during the run."
        },
        "meta": {
          "type": "object",
          "x-ms-summary": "Metadata",
          "description": "Additional metadata about the Actor run, including origin and user agent information."
        },
        "pricingInfo": {
          "type": "object",
          "x-ms-summary": "Pricing Info",
          "description": "Detailed pricing information including pricing model, events, and cost breakdown."
        },
        "stats": {
          "type": "object",
          "x-ms-summary": "Stats",
          "description": "Performance statistics including runtime, memory usage, CPU usage, and network traffic."
        },
        "chargedEventCount": {
          "type": "object",
          "x-ms-summary": "Charged Event Count",
          "description": "Count of billable events that occurred during the Actor run."
        },
        "options": {
          "type": "object",
          "x-ms-summary": "Options",
          "description": "Configuration options used for the Actor run (memory, timeout, build version, etc.)."
        },
        "buildId": {
          "type": "string",
          "x-ms-summary": "Build ID",
          "description": "Unique identifier of the Actor build used for this run."
        },
        "exitCode": {
          "type": "number",
          "x-ms-summary": "Exit Code",
          "description": "Exit code returned by the Actor process (0 indicates success)."
        },
        "defaultKeyValueStoreId": {
          "type": "string",
          "x-ms-summary": "Default KV Store ID",
          "description": "Unique identifier of the default key-value store associated with this run."
        },
        "defaultDatasetId": {
          "type": "string",
          "x-ms-summary": "Default Dataset ID",
          "description": "Unique identifier of the default dataset where the Actor stored its results."
        },
        "defaultRequestQueueId": {
          "type": "string",
          "x-ms-summary": "Default Request Queue ID",
          "description": "Unique identifier of the default request queue used by the Actor."
        },
        "platformUsageBillingModel": {
          "type": "string",
          "x-ms-summary": "Platform Usage Billing Model",
          "description": "The billing model used for platform usage (e.g., USER, ORGANIZATION)."
        },
        "integrationTracking": {
          "type": "object",
          "x-ms-summary": "Integration Tracking",
          "description": "Information about the integration platform and whether it's an AI tool."
        },
        "generalAccess": {
          "type": "string",
          "x-ms-summary": "General Access",
          "description": "General access setting for the Actor run (e.g., FOLLOW_USER_SETTING)."
        },
        "buildNumber": {
          "type": "string",
          "x-ms-summary": "Build Number",
          "description": "Build number of the Actor version used for this run."
        },
        "containerUrl": {
          "type": "string",
          "x-ms-summary": "Container URL",
          "description": "URL of the container where the Actor run was executed."
        },
        "isContainerServerReady": {
          "type": "boolean",
          "x-ms-summary": "Is Container Server Ready",
          "description": "Whether the container server is ready and accessible."
        },
        "gitBranchName": {
          "type": "string",
          "x-ms-summary": "Git Branch Name",
          "description": "Name of the Git branch used for this Actor run (if applicable)."
        },
        "usage": {
          "type": "object",
          "x-ms-summary": "Usage",
          "description": "Detailed usage information including compute units and resource consumption."
        },
        "usageTotalUsd": {
          "type": "number",
          "x-ms-summary": "Usage Total USD",
          "description": "Total cost of the Actor run in USD."
        },
        "usageUsd": {
          "type": "object",
          "x-ms-summary": "Usage USD",
          "description": "Usage cost breakdown in USD by resource type (compute units, datasets, key-value stores, etc.)."
        }
      }
    },
    "WebhookPayload": {
      "type": "object",
      "properties": {
        "userId": { "type": "string", "description": "ID of the user who owns the resource associated with the event." },
        "createdAt": { "type": "string", "format": "date-time", "description": "The timestamp when the event occurred." },
        "eventType": { 
          "type": "string", 
          "description": "The type of the event that triggered the webhook. (e.g., ACTOR.RUN.SUCCEEDED)",
          "enum": [
            "ACTOR.RUN.SUCCEEDED",
            "ACTOR.RUN.FAILED",
            "ACTOR.RUN.TIMED_OUT",
            "ACTOR.RUN.ABORTED"
          ]
        },
        "eventData": {
          "type": "object",
          "description": "An object containing event-specific data.",
          "properties": {
            "actorId": { "type": "string", "description": "ID of the triggering Actor." },
            "actorRunId": { "type": "string", "description": "ID of the specific Actor run that triggered the event." }
          },
          "additionalProperties": true
        },
        "resource": {
          "description": "Detailed information about the Actor run resource.",
          "$ref": "#/definitions/ActorRunResponse"
        }
      },
      "additionalProperties": true
    },
    "WebhookCreateResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "id": { "type": "string" }
          },
          "additionalProperties": true
        }
      },
      "additionalProperties": true
    }
  },
  "parameters": {
    "IntegrationPlatformHeader": {
      "name": "x-apify-integration-platform",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "microsoft-power-automate",
      "description": "Integration platform identifier",
      "x-ms-visibility": "internal"
    }
  },
  "responses": {
    "WebhookCreated": {
      "description": "Webhook created",
      "headers": {
        "Location": {
          "type": "string",
          "description": "New webhook URL"
        }
      },
      "schema": {
        "$ref": "#/definitions/WebhookCreateResponse"
      }
    },
    "ErrorResponse": {
      "description": "Error response",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "Operations related to Apify Users"
    },
    {
      "name": "Actors",
      "description": "Operations related to Apify Actors"
    },
    {
      "name": "Tasks",
      "description": "Operations related to Apify Tasks"
    },
    {
      "name": "Datasets",
      "description": "Operations related to Apify Datasets"
    },
    {
      "name": "KeyValueStores",
      "description": "Operations related to Apify Key-Value Stores"
    },
    {
      "name": "Scraping",
      "description": "Operations related to web scraping"
    }
  ]
}