{
  "swagger": "2.0",
  "info": {
    "title": "Apify Connector",
    "description": "A connector for the Apify API.",
    "version": "1.0.0",
    "contact": {
      "name": "Apify Support",
      "url": "https://apify.com/contact",
      "email": "support@apify.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.apify.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API Key for authenticating with the Apify API"
    },
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://console.apify.com/authorize/oauth",
      "tokenUrl": "https://console-backend.apify.com/oauth/apps/token",
      "scopes": {
        "profile": "Access to user profile",
        "full_api_access": "Full access to Apify API"
      }
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "oauth2_auth": [
        "profile",
        "full_api_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;AI"
    }
  ],
  "paths": {
    "/users/me": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        },
        "summary": "Get User Information",
        "description": "Returns information about the current user account, including both public and private information.",
        "operationId": "GetUserInfo",
        "x-ms-visibility": "important",
        "x-ms-summary": "Get User Information",
        "tags": [
          "Users"
        ]
      }
    }
  },
  "definitions": {
    "UserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "User ID",
          "x-ms-summary": "User ID"
        },
        "username": {
          "type": "string",
          "description": "Username",
          "x-ms-summary": "Username"
        },
        "email": {
          "type": "string",
          "description": "User email",
          "x-ms-summary": "Email"
        },
        "name": {
          "type": "string",
          "description": "User's full name",
          "x-ms-summary": "Full Name"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Date when the user was created",
          "x-ms-summary": "Created At"
        },
        "subscription": {
          "type": "object",
          "properties": {
            "plan": {
              "type": "string",
              "description": "Subscription plan",
              "x-ms-summary": "Plan"
            },
            "planId": {
              "type": "string",
              "description": "Subscription plan ID",
              "x-ms-summary": "Plan ID"
            },
            "isActive": {
              "type": "boolean",
              "description": "Whether the subscription is active",
              "x-ms-summary": "Is Active"
            }
          }
        },
        "profile": {
          "type": "object",
          "properties": {
            "pictureUrl": {
              "type": "string",
              "description": "URL to the user's profile picture",
              "x-ms-summary": "Profile Picture URL"
            },
            "githubUsername": {
              "type": "string",
              "description": "User's GitHub username",
              "x-ms-summary": "GitHub Username"
            },
            "websiteUrl": {
              "type": "string",
              "description": "User's website URL",
              "x-ms-summary": "Website URL"
            },
            "bio": {
              "type": "string",
              "description": "User's bio",
              "x-ms-summary": "Bio"
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "Error type",
              "x-ms-summary": "Error Type"
            },
            "message": {
              "type": "string",
              "description": "Error message",
              "x-ms-summary": "Error Message"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "IntegrationPlatformHeader": {
      "name": "x-apify-integration-platform",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "power-automate",
      "description": "Integration platform identifier",
      "x-ms-visibility": "internal"
    }
  },
  "responses": {
    "ErrorResponse": {
      "description": "Error response",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "Operations related to Apify Users"
    },
    {
      "name": "Actors",
      "description": "Operations related to Apify Actors"
    },
    {
      "name": "Tasks",
      "description": "Operations related to Apify Tasks"
    },
    {
      "name": "Datasets",
      "description": "Operations related to Apify Datasets"
    },
    {
      "name": "KeyValueStores",
      "description": "Operations related to Apify Key-Value Stores"
    },
    {
      "name": "Scraping",
      "description": "Operations related to web scraping"
    }
  ]
}