{
  "swagger": "2.0",
  "info": {
    "title": "Apify Connector",
    "description": "A connector that brings Apify's web scrapers, AI agents, and automation tools to Power Automate for data collection, monitoring, and business system integration.",
    "version": "1.0.0",
    "contact": {
      "name": "Apify Support",
      "url": "https://apify.com/contact",
      "email": "support@apify.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.apify.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API Token for authenticating with the Apify API. Get it at https://console.apify.com/settings/integrations"
    },
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://console.apify.com/authorize/oauth",
      "tokenUrl": "https://console-backend.apify.com/oauth/apps/token",
      "scopes": {
        "profile": "Access to user profile",
        "full_api_access": "Full access to Apify API"
      }
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "oauth2_auth": [
        "profile",
        "full_api_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;AI"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetUserInfo"
    }
  },
  "paths": {
    "/users/me": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        },
        "summary": "Get User Information",
        "description": "Returns information about the current user account, including both public and private information.",
        "operationId": "GetUserInfo",
        "x-ms-visibility": "internal",
        "x-ms-summary": "Get User Information",
        "tags": [
          "Users"
        ]
      }
    },
    "/webhooks/task": {
      "x-ms-notification-content": {
        "description": "Payload received from Apify when the task webhook fires",
        "schema": { "$ref": "#/definitions/WebhookPayload" }
      },
      "post": {
        "summary": "Actor Task Finished",
        "description": "Creates a webhook to subscribe to Actor task run events. Triggers when the selected Actor task run finishes with a specific status. See docs: https://docs.apify.com/api/v2/webhooks-post",
        "operationId": "ActorTaskFinishedTrigger",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "properties": {
                "requestUrl": { 
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "eventTypes": {
                  "type": "array",
                  "x-ms-visibility": "important",
                  "description": "Actor run statuses to trigger on",
                  "x-ms-summary": "Trigger On",
                  "items": {
                    "type": "string",
                    "enum": [
                      "ACTOR.RUN.SUCCEEDED",
                      "ACTOR.RUN.FAILED",
                      "ACTOR.RUN.TIMED_OUT",
                      "ACTOR.RUN.ABORTED"
                    ],
                    "x-ms-enum-values": [
                      { "value": "ACTOR.RUN.SUCCEEDED", "displayName": "SUCCEEDED" },
                      { "value": "ACTOR.RUN.FAILED", "displayName": "FAILED" },
                      { "value": "ACTOR.RUN.TIMED_OUT", "displayName": "TIMED_OUT" },
                      { "value": "ACTOR.RUN.ABORTED", "displayName": "ABORTED" }
                    ]
                  }
                },
                "condition": {
                  "type": "object",
                  "properties": {
                    "actorTaskId": { 
                      "type": "string",
                      "description": "Actor task identifier to monitor for run events.",
                      "x-ms-summary": "Task",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "ListTasks",
                        "value-collection": "data/items",
                        "value-path": "id",
                        "value-title": "name"
                      }
                    }
                  }
                },
                "idempotencyKey": { "type": "string" },
                "payloadTemplate": { "type": "string" },
                "shouldInterpolateStrings": { "type": "boolean" }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreated"
          },
          "default": { "$ref": "#/responses/ErrorResponse" }
        }
      }
    },
    "/actor-tasks": {
      "get": {
        "summary": "List Tasks (for dropdown)",
        "description": "Fetches a list of the user's actor tasks.",
        "operationId": "ListTasks",
        "x-ms-visibility": "internal",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "actName": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": [ "items" ]
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/webhooks/task/{webhookId}": {
      "delete": {
        "summary": "Delete Task Webhook (for trigger)",
        "description": "Deletes an existing task webhook subscription.",
        "operationId": "DeleteTaskWebhook",
        "x-ms-visibility": "internal",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": { "$ref": "#/responses/ErrorResponse" }
        }
      }
    }
  },
  "definitions": {
    "UserResponse": {
      "type": "object",
      "x-ms-summary": "Represents information about the authenticated Apify user.",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "User ID"
        },
        "username": {
          "type": "string",
          "x-ms-summary": "Username"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Created At"
        },
        "subscription": {
          "type": "object",
          "x-ms-summary": "Subscription",
          "properties": {
            "plan": {
              "type": "string",
              "x-ms-summary": "Plan"
            },
            "planId": {
              "type": "string",
              "x-ms-summary": "Plan ID"
            },
            "isActive": {
              "type": "boolean",
              "x-ms-summary": "Is Active"
            }
          }
        },
        "profile": {
          "type": "object",
          "properties": {
            "pictureUrl": {
              "type": "string",
              "x-ms-summary": "Profile Picture URL"
            },
            "githubUsername": {
              "type": "string",
              "x-ms-summary": "GitHub Username"
            },
            "websiteUrl": {
              "type": "string",
              "x-ms-summary": "Website URL"
            },
            "bio": {
              "type": "string",
              "x-ms-summary": "User's bio"
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "Error type",
              "x-ms-summary": "Error Type"
            },
            "message": {
              "type": "string",
              "description": "Error message",
              "x-ms-summary": "Error Message"
            }
          }
        }
      }
    }
    ,
    "ActorRunResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Actor Run ID"
        },
        "actId": {
          "type": "string",
          "x-ms-summary": "Actor ID"
        },
        "userId": {
          "type": "string",
          "x-ms-summary": "User ID"
        },
        "actorTaskId": {
          "type": "string",
          "x-ms-summary": "Actor Task ID"
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Started At"
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Finished At"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status"
        },
        "statusMessage": {
          "type": "string",
          "x-ms-summary": "Status Message"
        },
        "isStatusMessageTerminal": {
          "type": "boolean",
          "x-ms-summary": "Is Status Message Terminal"
        },
        "meta": {
          "type": "object",
          "x-ms-summary": "Metadata"
        },
        "pricingInfo": {
          "type": "object",
          "x-ms-summary": "Pricing Info"
        },
        "stats": {
          "type": "object",
          "x-ms-summary": "Stats"
        },
        "chargedEventCount": {
          "type": "object",
          "x-ms-summary": "Charged Event Count"
        },
        "options": {
          "type": "object",
          "x-ms-summary": "Options"
        },
        "buildId": {
          "type": "string",
          "x-ms-summary": "Build ID"
        },
        "exitCode": {
          "type": "number",
          "x-ms-summary": "Exit Code"
        },
        "defaultKeyValueStoreId": {
          "type": "string",
          "x-ms-summary": "Default KV Store ID"
        },
        "defaultDatasetId": {
          "type": "string",
          "x-ms-summary": "Default Dataset ID"
        },
        "defaultRequestQueueId": {
          "type": "string",
          "x-ms-summary": "Default Request Queue ID"
        },
        "buildNumber": {
          "type": "string",
          "x-ms-summary": "Build Number"
        },
        "containerUrl": {
          "type": "string",
          "x-ms-summary": "Container URL"
        },
        "isContainerServerReady": {
          "type": "boolean",
          "x-ms-summary": "Is Container Server Ready"
        },
        "gitBranchName": {
          "type": "string",
          "x-ms-summary": "Git Branch Name"
        },
        "usage": {
          "type": "object",
          "x-ms-summary": "Usage"
        },
        "usageTotalUsd": {
          "type": "number",
          "x-ms-summary": "Usage Total USD"
        },
        "usageUsd": {
          "type": "number",
          "x-ms-summary": "Usage USD"
        }
      }
    }
    ,
    "WebhookPayload": {
      "type": "object",
      "properties": {
        "userId": { "type": "string", "description": "ID of the user who owns the resource associated with the event." },
        "createdAt": { "type": "string", "format": "date-time", "description": "The timestamp when the event occurred." },
        "eventType": { "type": "string", "description": "The type of the event (e.g., ACTOR.RUN.SUCCEEDED)." },
        "eventData": {
          "type": "object",
          "description": "An object containing event-specific data.",
          "properties": {
            "actorId": { "type": "string", "description": "ID of the triggering Actor." },
            "actorRunId": { "type": "string", "description": "ID of the specific Actor run that triggered the event." }
          },
          "additionalProperties": true
        }
      },
      "additionalProperties": true
    }
    ,
    "WebhookCreateResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "id": { "type": "string" }
          },
          "additionalProperties": true
        }
      },
      "additionalProperties": true
    }
  },
  "parameters": {
    "IntegrationPlatformHeader": {
      "name": "x-apify-integration-platform",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "microsoft-power-automate",
      "description": "Integration platform identifier",
      "x-ms-visibility": "internal"
    }
  },
  "responses": {
    "WebhookCreated": {
      "description": "Webhook created",
      "headers": {
        "Location": {
          "type": "string",
          "description": "New webhook URL"
        }
      },
      "schema": {
        "$ref": "#/definitions/WebhookCreateResponse"
      }
    },
    "ErrorResponse": {
      "description": "Error response",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "Operations related to Apify Users"
    },
    {
      "name": "Actors",
      "description": "Operations related to Apify Actors"
    },
    {
      "name": "Tasks",
      "description": "Operations related to Apify Tasks"
    },
    {
      "name": "Datasets",
      "description": "Operations related to Apify Datasets"
    },
    {
      "name": "KeyValueStores",
      "description": "Operations related to Apify Key-Value Stores"
    },
    {
      "name": "Scraping",
      "description": "Operations related to web scraping"
    }
  ]
}
