{
  "swagger": "2.0",
  "info": {
    "title": "Apify Connector",
    "description": "A connector that brings Apify's web scrapers, AI agents, and automation tools to Power Automate for data collection, monitoring, and business system integration.",
    "version": "1.0.0",
    "contact": {
      "name": "Apify Support",
      "url": "https://apify.com/contact",
      "email": "support@apify.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.apify.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API Token for authenticating with the Apify API. Get it at https://console.apify.com/settings/integrations"
    },
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://console.apify.com/authorize/oauth",
      "tokenUrl": "https://console-backend.apify.com/oauth/apps/token",
      "scopes": {
        "profile": "Access to user profile",
        "full_api_access": "Full access to Apify API"
      }
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "oauth2_auth": [
        "profile",
        "full_api_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;AI"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetUserInfo"
    }
  },
  "paths": {
    "/users/me": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        },
        "summary": "Get User Information",
        "description": "Returns information about the current user account, including both public and private information.",
        "operationId": "GetUserInfo",
        "x-ms-visibility": "internal",
        "x-ms-summary": "Get User Information",
        "tags": [
          "Users"
        ]
      }
    },
    "/acts": {
      "get": {
        "summary": "List My Actors (for dropdown)",
        "description": "Fetches a list of the user's Actors.",
        "operationId": "ListMyActors",
        "x-ms-visibility": "internal",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actor_scope",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "MyActors",
              "StoreActors"
            ],
            "description": "Only used by the connector UI to trigger list refresh when scope changes.",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "total": { "type": "integer", "format": "int32" },
                    "count": { "type": "integer", "format": "int32" },
                    "offset": { "type": "integer", "format": "int32" },
                    "limit": { "type": "integer", "format": "int32" },
                    "desc": { "type": "boolean" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "createdAt": { "type": "string" },
                          "modifiedAt": { "type": "string" },
                          "name": { "type": "string" },
                          "username": { "type": "string" },
                          "title": { "type": "string" },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "totalRuns": { "type": "integer", "format": "int32" },
                              "lastRunStartedAt": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/store": {
      "get": {
        "summary": "List Store Actors (for dropdown)",
        "description": "Fetches a list of Actors from the Apify Store.",
        "operationId": "ListStoreActors",
        "x-ms-visibility": "internal",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actor_scope",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "MyActors",
              "StoreActors"
            ],
            "description": "Only used by the connector UI to trigger list refresh when scope changes.",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "default": 1000,
            "x-ms-summary": "Maximum number of Actors to return"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/actors/dropdown": {
      "get": {
        "summary": "List Actors (dropdown)",
        "description": "Fetches a list of Actors from My Actors or Apify Store based on scope for dropdown selection.",
        "operationId": "ListActorsDropdown",
        "x-ms-visibility": "internal",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "name": "actor_scope",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "MyActors",
              "StoreActors"
            ],
            "description": "Select source of Actors: your own or the Apify Store.",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "default": 1000,
            "x-ms-summary": "Maximum number of Actors to return"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "title": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/acts/{actorId}/runs": {
      "post": {
        "summary": "Run Actor",
        "description": "Runs an Actor and immediately returns without waiting for the run to finish. To wait for the run to finish, use the waitForFinish query parameter. See docs: https://docs.apify.com/api/v2/act-runs-post",
        "operationId": "RunActor",
        "x-ms-summary": "Run Actor",
        "x-ms-visibility": "important",
        "tags": [
          "Actors"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "actorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Actor identifier to run. For My Actors supply Actor ID; for Store supply Actor name.",
            "x-ms-summary": "Actor",
            "x-ms-dynamic-values": {
              "operationId": "ListActorsDropdown",
              "value-collection": "data/items",
              "value-path": "id",
              "value-title": "title",
              "parameters": {
                "actor_scope": { "parameter": "actor_scope" },
                "limit": 1000
              }
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "actor_scope",
            "description": "Actor can be either yours or from the Apify Store.",
            "default": "MyActors",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Actor Source",
            "enum": [
              "MyActors",
              "StoreActors"
            ],
            "x-ms-enum-display-name": [
              "My Actors",
              "From Store"
            ]
          },
          {
            "name": "build",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies the Actor build to run. It can be either a build tag or build number. By default, the run uses the build specified in the default run configuration for the Actor (typically latest).",
            "x-ms-summary": "Build"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the default run configuration for the Actor.",
            "x-ms-summary": "Timeout (seconds)"
          },
          {
            "name": "memory",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Memory limit for the run, in megabytes. The amount of memory can be set to a power of 2 with a minimum of 128. By default, the run uses a memory limit specified in the default run configuration for the Actor.",
            "x-ms-summary": "Memory (MB)",
            "enum": [
              512,
              1024,
              2048,
              4096,
              8192,
              16384
            ]
          },
          {
            "name": "waitForFinish",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Wait for Finish (seconds)",
            "description": "The maximum number of seconds the server waits for the run to finish. By default, it is 0, the maximum value is 60. If the run finishes in time then the returned run object will have a terminal status (e.g. SUCCEEDED), otherwise it will have a transitional status (e.g. RUNNING).",
            "maximum": 60,
            "default": 0
          },
          {
            "name": "input_body",
            "in": "body",
            "required": true,
            "description": "Raw JSON object passed as INPUT to the Actor.",
            "x-ms-textarea": true,
            "x-ms-summary": "Input Body",
            "schema": {
              "type": "object",
              "description": "Raw JSON object passed as INPUT to the Actor"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Actor run created",
            "schema": {
              "$ref": "#/definitions/ActorRunResponse"
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/actor-tasks": {
      "get": {
        "summary": "List Tasks (for dropdown)",
        "description": "Fetches a list of the user's actor tasks.",
        "operationId": "ListTasks",
        "x-ms-visibility": "internal",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": [ "items" ]
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/actor-tasks/{taskId}/runs": {
      "post": {
        "summary": "Run Task",
        "description": "Runs an Actor task and immediately returns without waiting for the run to finish. To wait for the run to finish, use the waitForFinish query parameter. See docs: https://docs.apify.com/api/v2/actor-task-runs-post",
        "operationId": "RunTask",
        "x-ms-summary": "Run Task",
        "x-ms-visibility": "important",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task identifier to run.",
            "x-ms-summary": "Task",
            "x-ms-dynamic-values": {
              "operationId": "ListTasks",
              "value-collection": "data/items",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "waitForFinish",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Wait for Finish (seconds)",
            "description": "The maximum number of seconds the server waits for the run to finish. By default, it is 0, the maximum value is 60. If the run finishes in time then the returned run object will have a terminal status (e.g. SUCCEEDED), otherwise it will have a transitional status (e.g. RUNNING).",
            "maximum": 60,
            "default": 0
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the default run configuration for the Task.",
            "x-ms-summary": "Timeout (seconds)"
          },
          {
            "name": "memory",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Memory limit for the run, in megabytes. The amount of memory can be set to a power of 2 with a minimum of 128. By default, the run uses a memory limit specified in the default run configuration for the Task.",
            "x-ms-summary": "Memory (MB)",
            "enum": [
              512,
              1024,
              2048,
              4096,
              8192,
              16384
            ]
          },
          {
            "name": "input_override",
            "in": "body",
            "required": false,
            "description": "Optional. A raw JSON object to override the task's default input.",
            "x-ms-textarea": true,
            "x-ms-summary": "Input Override",
            "schema": {
              "type": "object",
              "description": "Optional. A raw JSON object to override the task's default input."
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Actor run created",
            "schema": {
              "$ref": "#/definitions/ActorRunResponse"
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "definitions": {
    "UserResponse": {
      "type": "object",
      "x-ms-summary": "Represents information about the authenticated Apify user.",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "User ID"
        },
        "username": {
          "type": "string",
          "x-ms-summary": "Username"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Created At"
        },
        "subscription": {
          "type": "object",
          "x-ms-summary": "Subscription",
          "properties": {
            "plan": {
              "type": "string",
              "x-ms-summary": "Plan"
            },
            "planId": {
              "type": "string",
              "x-ms-summary": "Plan ID"
            },
            "isActive": {
              "type": "boolean",
              "x-ms-summary": "Is Active"
            }
          }
        },
        "profile": {
          "type": "object",
          "properties": {
            "pictureUrl": {
              "type": "string",
              "x-ms-summary": "Profile Picture URL"
            },
            "githubUsername": {
              "type": "string",
              "x-ms-summary": "GitHub Username"
            },
            "websiteUrl": {
              "type": "string",
              "x-ms-summary": "Website URL"
            },
            "bio": {
              "type": "string",
              "x-ms-summary": "User's bio"
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "x-ms-summary": "Represents an error response from the Apify API",
      "properties": {
        "error": {
          "type": "object",
          "x-ms-summary": "Error Details",
          "properties": {
            "type": {
              "type": "string",
              "description": "Error Type",
              "x-ms-summary": "Error Type"
            },
            "message": {
              "type": "string",
              "description": "Error message",
              "x-ms-summary": "Error Message"
            }
          }
        }
      }
    },
    "ActorRunResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Actor Run ID"
        },
        "actId": {
          "type": "string",
          "x-ms-summary": "Actor ID"
        },
        "userId": {
          "type": "string",
          "x-ms-summary": "User ID"
        },
        "actorTaskId": {
          "type": "string",
          "x-ms-summary": "Actor Task ID"
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Started At"
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Finished At"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status"
        },
        "statusMessage": {
          "type": "string",
          "x-ms-summary": "Status Message"
        },
        "isStatusMessageTerminal": {
          "type": "boolean",
          "x-ms-summary": "Is Status Message Terminal"
        },
        "meta": {
          "type": "object",
          "x-ms-summary": "Metadata"
        },
        "pricingInfo": {
          "type": "object",
          "x-ms-summary": "Pricing Info"
        },
        "stats": {
          "type": "object",
          "x-ms-summary": "Stats"
        },
        "chargedEventCount": {
          "type": "object",
          "x-ms-summary": "Charged Event Count"
        },
        "options": {
          "type": "object",
          "x-ms-summary": "Options"
        },
        "buildId": {
          "type": "string",
          "x-ms-summary": "Build ID"
        },
        "exitCode": {
          "type": "number",
          "x-ms-summary": "Exit Code"
        },
        "defaultKeyValueStoreId": {
          "type": "string",
          "x-ms-summary": "Default KV Store ID"
        },
        "defaultDatasetId": {
          "type": "string",
          "x-ms-summary": "Default Dataset ID"
        },
        "defaultRequestQueueId": {
          "type": "string",
          "x-ms-summary": "Default Request Queue ID"
        },
        "buildNumber": {
          "type": "string",
          "x-ms-summary": "Build Number"
        },
        "containerUrl": {
          "type": "string",
          "x-ms-summary": "Container URL"
        },
        "isContainerServerReady": {
          "type": "boolean",
          "x-ms-summary": "Is Container Server Ready"
        },
        "gitBranchName": {
          "type": "string",
          "x-ms-summary": "Git Branch Name"
        },
        "usage": {
          "type": "object",
          "x-ms-summary": "Usage"
        },
        "usageTotalUsd": {
          "type": "number",
          "x-ms-summary": "Usage Total USD"
        },
        "usageUsd": {
          "type": "number",
          "x-ms-summary": "Usage USD"
        }
      }
    }
  },
  "parameters": {
    "IntegrationPlatformHeader": {
      "name": "x-apify-integration-platform",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "microsoft-power-automate",
      "description": "Integration platform identifier",
      "x-ms-visibility": "internal"
    }
  },
  "responses": {
    "ErrorResponse": {
      "description": "Error response",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "Operations related to Apify Users"
    },
    {
      "name": "Actors",
      "description": "Operations related to Apify Actors"
    },
    {
      "name": "Tasks",
      "description": "Operations related to Apify Tasks"
    },
    {
      "name": "Datasets",
      "description": "Operations related to Apify Datasets"
    },
    {
      "name": "KeyValueStores",
      "description": "Operations related to Apify Key-Value Stores"
    },
    {
      "name": "Scraping",
      "description": "Operations related to web scraping"
    }
  ]
}
