{
  "swagger": "2.0",
  "info": {
    "title": "Apify Connector",
    "description": "A connector for the Apify API.",
    "version": "1.0.0",
    "contact": {
      "name": "Apify Support",
      "url": "https://apify.com/contact",
      "email": "support@apify.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.apify.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API Key for authenticating with the Apify API"
    },
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://console.apify.com/authorize/oauth",
      "tokenUrl": "https://console-backend.apify.com/oauth/apps/token",
      "scopes": {
        "profile": "Access to user profile",
        "full_api_access": "Full access to Apify API"
      }
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "oauth2_auth": [
        "profile",
        "full_api_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;AI"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetUserInfo"
    }
  },
  "paths": {
    "/users/me": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        },
        "summary": "Get User Information",
        "description": "Returns information about the current user account, including both public and private information.",
        "operationId": "GetUserInfo",
        "x-ms-visibility": "internal",
        "x-ms-summary": "Get User Information",
        "tags": [
          "Users"
        ]
      }
    },
    "/key-value-stores": {
      "get": {
        "summary": "List Key-Value Stores (for dropdown)",
        "description": "Fetches a list of the user's key-value stores.",
        "operationId": "ListKeyValueStores",
        "x-ms-visibility": "internal",
        "tags": [
          "KeyValueStores"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["items"]
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/key-value-stores/{storeId}/keys": {
      "get": {
        "summary": "List Record Keys (for dropdown)",
        "description": "Fetches a list of keys for a specific key-value store.",
        "operationId": "ListRecordKeys",
        "x-ms-visibility": "internal",
        "tags": [
          "KeyValueStores"
        ],
        "parameters": [
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the key-value store."
          },
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": { "type": "string" }
                        }
                      }
                    }
                  },
                  "required": ["items"]
                }
              },
              "additionalProperties": true
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    },
    "/key-value-stores/{storeId}/records/{recordKey}": {
      "get": {
        "summary": "Get Key-Value Store Record",
        "description": "Gets a value stored in the key-value store under a specific key.",
        "operationId": "GetKeyValueStoreRecord",
        "x-ms-summary": "Get Key-Value Store Record",
        "x-ms-visibility": "important",
        "tags": [
          "KeyValueStores"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IntegrationPlatformHeader"
          },
          {
            "name": "storeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Store",
            "x-ms-dynamic-values": {
              "operationId": "ListKeyValueStores",
              "value-collection": "data/items",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "recordKey",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record Key",
            "x-ms-dynamic-values": {
              "operationId": "ListRecordKeys",
              "value-collection": "data/items",
              "value-path": "key",
              "value-title": "key",
              "parameters": {
                "storeId": { "parameter": "storeId" }
              }
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Format Hint",
            "description": "Optional hint for expected response format.",
            "default": "auto",
            "enum": ["auto", "json", "text", "binary"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The record content.",
            "schema": {
              "type": "string",
              "format": "binary"
            },
            "headers": {
              "Content-Type": {
                "type": "string",
                "description": "The MIME type of the record's content."
              }
            }
          },
          "default": {
            "$ref": "#/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "definitions": {
    "UserResponse": {
      "type": "object",
      "x-ms-summary": "Represents information about the authenticated Apify user.",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "User ID"
        },
        "username": {
          "type": "string",
          "x-ms-summary": "Username"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Created At"
        },
        "subscription": {
          "type": "object",
          "x-ms-summary": "Subscription",
          "properties": {
            "plan": {
              "type": "string",
              "x-ms-summary": "Plan"
            },
            "planId": {
              "type": "string",
              "x-ms-summary": "Plan ID"
            },
            "isActive": {
              "type": "boolean",
              "x-ms-summary": "Is Active"
            }
          }
        },
        "profile": {
          "type": "object",
          "properties": {
            "pictureUrl": {
              "type": "string",
              "x-ms-summary": "Profile Picture URL"
            },
            "githubUsername": {
              "type": "string",
              "x-ms-summary": "GitHub Username"
            },
            "websiteUrl": {
              "type": "string",
              "x-ms-summary": "Website URL"
            },
            "bio": {
              "type": "string",
              "x-ms-summary": "User's bio"
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "x-ms-summary": "Error Type"
            },
            "message": {
              "type": "string",
              "x-ms-summary": "Error Message"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "IntegrationPlatformHeader": {
      "name": "x-apify-integration-platform",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "power-automate",
      "description": "Integration platform identifier",
      "x-ms-visibility": "internal"
    }
  },
  "responses": {
    "ErrorResponse": {
      "description": "Error response",
      "schema": {
        "$ref": "#/definitions/ErrorResponse"
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "Operations related to Apify Users"
    },
    {
      "name": "Actors",
      "description": "Operations related to Apify Actors"
    },
    {
      "name": "Tasks",
      "description": "Operations related to Apify Tasks"
    },
    {
      "name": "Datasets",
      "description": "Operations related to Apify Datasets"
    },
    {
      "name": "KeyValueStores",
      "description": "Operations related to Apify Key-Value Stores"
    },
    {
      "name": "Scraping",
      "description": "Operations related to web scraping"
    }
  ]
}
